---
layout: page
title : Error 404 - Page Not Found
header : Error 404
group: navigation
---
{% include JB/setup %}

<img src="/assets/images/site/error-404_640px.png"
srcset="/assets/images/site/error-404_1200px.png 1200w,
/assets/images/site/error-404_1000px.png 1000w,
/assets/images/site/error-404_640px.png 640w,
/assets/images/site/error-404_480px.png 480w,
/assets/images/site/error-404_640px.png 250w" 
sizes="(max-width: 38em) 100vw, 50vw"
alt="Error 404 - You don't exist.">

Spooky. You are on the other side.
<br></br>

{% assign posts_collate = site.posts %}
{% include JB/posts_collate %}
