<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 ie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 ie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>{{ page.title }}</title>
	<meta name="author" content="{{ site.author.name }}">
	<link href='/assets/themes/the-minimum/css/style.css' rel="stylesheet" media="all">
	<link rel="shortcut icon" type="image/png" href="/favicon.png">
</head>
<body>

<div id="page" class="hentry">
	<header class="the-header">
		<div class="unit-head">
			<div class="unit-inner unit-head-inner">
				<table class="hidden-table">
					<tbody>
						<tr class="hidden-table">
							<td>
								<p class="logo"><a href="{{ HOME_PATH }}">{{ site.title }}</a></p>
							</td>
							<td>
								<nav class="nav-global">
									<ul>
										<li><a href="/apps.html">APPS</a></li>
										<li><a href="/tags.html">BLOG</a></li>
									</ul>
								</nav>
							</td>
						</tr>
					</tbody>
				</table>
			</div><!-- unit-inner -->
		</div><!-- unit-head -->
	</header>
	<div class="body" role="main">
		<div class="unit-body">
			<div class="unit-inner unit-body-inner">
				<div class="entry-content">
					{{ content }}
				</div>
			</div><!-- unit-inner -->
		</div><!-- unit-body -->
	</div><!-- body -->
	<br>
</div><!-- page -->
<script async src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js"></script>
<link href='/assets/themes/the-minimum/css/after-the-jump.css' rel="stylesheet" media="all">
<script>
/*! A fix for the iOS orientationchange zoom bug.Script by @scottjehl, rebound by @wilto. MIT License.*/
(function(j){var i=j.document;if(!i.querySelectorAll){return}var l=i.querySelectorAll("meta[name=viewport]")[0],a=l&&l.getAttribute("content"),h=a+", maximum-scale=1.0",d=a+", maximum-scale=10.0",g=true,c=j.orientation,k=0;if(!l){return}function f(){l.setAttribute("content",d);g=true}function b(){l.setAttribute("content",h);g=false}function e(m){c=Math.abs(j.orientation);k=Math.abs(m.gamma);if(k>8&&c===0){if(g){b()}}else{if(!g){f()}}}j.addEventListener("orientationchange",f,false);j.addEventListener("deviceorientation",e,false)})(this);
</script>
<script async src="/assets/nubar.js"></script>

  {% include JB/analytics %}
</body>
</html>
