<article class="unit-article layout-post">
	<div class="unit-inner unit-article-inner">
		<div class="content">
			<header>
				<div class="unit-head">
					<div class="unit-inner unit-head-inner">
						<h1 class="h2 entry-title">{{ page.title }}</h1>
					</div><!-- unit-inner -->
				</div><!-- unit-head -->
			</header>

			<div class="bd">
				<div class="entry-content">
					{{ content }}
					<div class="meta">
						<p class="date-publish">
							Published:
							<date class="date-pub" title="{{ page.date | date_to_xmlschema }}" datetime="{{ page.date | date_to_xmlschema }}" pubdate>
							<span class="month"><abbr>{{ page.date | date: '%B' }}</abbr></span>
							<span class="day">{{ page.date | date: '%d' }}</span>
							<span class="year">{{ page.date | date: '%Y' }}</span>
							</date>
						</p>
						<ul class="list-tag list-linear">
							<li class="list-head">topics: </li>
							{% assign tags_list = page.tags %}
							{% include JB/tags_list %}
						</ul>
					</div><!-- meta -->
				</div><!-- entry-content -->
				
				<div class="misc-content">
					<br>
					Copyright © John Stilley
				</div><!-- misc-content -->
			</div><!-- bd -->
		</div><!-- content -->
	</div><!-- unit-inner -->
</article>
