input {
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

h4 {
  margin-bottom: 5px;
}

tr {
  background-color: #a6b8c7;
}


.bmi_form {
  -webkit-appearance: none;
  max-width: 25em;
}

.bmi_table {
  -webkit-appearance: none;
  border: 0px;
  margin: auto;
  padding: 10px;
  text-align: left;
  background-color: #a6b8c7;
  box-shadow: 10px 10px 0pt #c9d4dd;
  border-radius: 5px;
}
.playing {
  transform: scale(1.1);
  border-radius: 5px;
  border-color: #AB6400;
  box-shadow: 0 0 15px #AB6400;
}

.quick {
  transition: all .07s;
}
