---
theme :
  name : the-minimum
layout: default
---
{% include JB/setup %}
{% include themes/the-minimum/post.html %}

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'antineutrino';
    var disqus_identifier = '{{ page.url }}';
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
